<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin>
    <!-- mapbox  -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js' crossorigin></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' crossorigin/>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="d-flex flex-column vh-100"><%# view height 100 %>
    <!-- ejs: include navbar partial-->
    <%- include('../partials/navbar') %>  
    <main class="container mt-5">
        <!-- ejs: include flash partial -->
        <%- include('../partials/flash') %>  
        <!-- ejs-mate: This file is the boilerplate, while "body" will be the thing that will be inside this boilerplate -->
        <%- body %>  
    </main>
    <!-- ejs: include footer partial-->
    <%- include('../partials/footer') %>  
    
<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<!-- Bootstrap form validation script, served as a static asset from ../../public/validateForms.js -->
<script src="/javascripts/validateForms.js"></script>

</body>
</html>