<% layout('layouts/boilerplate') %> <%# ejs-mate %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <%# 
            show err.message:
            %> 
            <h4 class="alert-heading"><%= err.message %></h4>
            <%# 
            show err.stack:
            %> 
            <p><%= err.stack %></p>
        </div>
    </div>
</div>
