<!-- ejs-mate boiler -->
<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <!-- offset-3 in this case will center the column:  -->
    <div class="col-md-6 offset-md-3">
        <!-- "validated-form" & "novalidate" are here for for bootstrap validation.  -->
        <!-- enctype="multipart/form-data" is from MDN, this is for being able to upload files in the form -->
        <form action="/campgrounds" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <!-- "required" is for validation from client side:  -->
                <input class="form-control" type="text" id="title" name="campground[title]" required />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price" required>Campground Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input
                        id="price"
                        type="text"
                        class="form-control"
                        placeholder="0.00"
                        aria-label="price"
                        aria-describedby="price-label"
                        name="campground[price]"
                        required />
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                 <!-- This is for image upload. Name is important, must be the same as specified in the campgrounds route. 'Multiple' for multiple files uploading. -->
                <!-- all file related stuff here is from bootstrap. The backend stuff is made possible with multer package -->
                <label for="image" class="form-label">Add images:</label>
                <input class="form-control form-file-input" type="file" id="image" name="image" multiple >
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <footer>
            <a class="btn btn-warning mb-3" href="/campgrounds">All Campgrounds</a>
        </footer>
    </div>
</div>
