/* G L O B A L */
body {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav + * {
    padding-top: 15px;
}

#cluster-map,
#map {
    border: 1px solid;
    border-color: rgba(108, 122, 137, 0.3);
    box-shadow: 1px 1px 11px 1px #B2BEB5;
}

.footer .container {
  display: flex;
  justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

#login-logout-register {
    margin-right: 20px;
    font-weight: 600;
    position: absolute;
    right: 0;
}
@media (max-width: 991.98px) {
  #login-logout-register {
    position: static;
  }
}


.alert {
    transition: all 0.5s ease-out;
    opacity: 1;
    position: fixed;
    right: 33%;
    left: 33%;
    z-index: 9999;
    text-align: center;
}

.alert.fade-out {
    opacity: 0;
    transition: all 0.5s ease-out;
}

/* I N D E X    P A G E */
#cluster-map {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.campgrounds-container,
#reviewsContainer {
    display: flex; 
    flex-direction: column-reverse;
}

div.card.mb-3 {
    background: transparent;
    border: none;
}

.campgrounds-container .card-text + .btn-primary {
    width: 14rem;
} 
.campgrounds-container .card-text{
    text-align: justify;
} 
.campgrounds-container img {
    border-radius: 10px;
}

/* S H O W    P A G E */
#map,
#campgroundCarousel img {
    width: 100%;
    height: 300px;
}

ul.list-group li {
    background-color: transparent
}

#campgroundCarousel {
    height: 300px;
}

.carousel-inner {
    height: inherit;
}

#campgroundCarousel + .card > .card-body {
    width: inherit;
}
#campgroundCarousel + .card > .card-body .card-text {
    text-align: justify;
}

/* L O G I N    /    L O G O U T    PAGES */
.container.login-register .card.shadow {
    margin-top: 20vh;
    width: 400px;
}
.container.login-register .card-body {
    border-radius: 10px;
}

/* E D I T    P A G E */
.images-for-deletion img {
    width: 100px;
}

/* N E W    P A G E */
