#cluster-map {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 300px;
}

.campgrounds-container {
    display: flex; 
    flex-direction: column-reverse;
}

body,
.card.mb-3 > .row {
    background: #edede9;
}

nav + * {
    padding-top: 15px;
}

#cluster-map,
#map {
    border: 1px solid;
    border-color: rgba(108, 122, 137, 0.3);
    box-shadow: 1px 1px 11px 1px #B2BEB5;
}

.footer .container {
  display: flex;
  justify-content: center;
}

#campgroundCarousel {
    height: 400px;
}

.carousel-inner {
    height: inherit;
}

#login-logout-register {
    margin-right: 20px;
    font-weight: 600;
}

.nav-link {
    /* padding: 0.25rem 0; */
    /* font-weight: 700; */
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}
.card-body,
.card.shadow {
    width: 400px;
    border-radius: 10px;
}

.card.shadow {
    margin-top: 20vh;
}

.alert {
    transition: all 0.5s ease-out;
    opacity: 1;
    position: fixed;
    /* top: 100px; */
    right: 33%;
    left: 33%;
    z-index: 9999;
    /* width: 600px; */
    text-align: center;
    /* display: flex;
    justify-content: center; */

}

.alert.fade-out {
    opacity: 0;
    transition: all 0.5s ease-out;
}
